@import "tailwindcss";
.custom-heading {
  font-size: 40px;
  font-family: 'Murecho', sans-serif;
}
.custom-welcome {
  font-size: 60px;
  font-family: 'Murecho', sans-serif;
}
.custom-subheading {
  font-size: 22px;
  font-family: 'Murecho', sans-serif;
}
.custom-text {
  font-size: 15px;
  font-family: 'Murecho', sans-serif;
}
.custom-mdtext {
  font-size: 18px;
  font-family: 'Murecho', sans-serif;
}
.custom-smtext {
  font-size: 10px;
  font-family: 'Murecho', sans-serif;
}
.custom-subheading2{
  font-size: 24px;
  font-family: 'Montserrat';
}
.custom-text2{
  font-size: 16px;
  font-family: 'Montserrat';
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}